{% extends 'base.j2' %}
{% block content %}
<ul>
<li> {{ title }} </li>
<li> {{ author }} </li>
{% if ref != '' %}
<li> {{ ref }} </li>
{% endif %}
{% for file in partition_files %}
<li> <a href={{ file.url }}> {{ file.name }} </a> {{ file }}
{% endfor %}
</ul>
{% endblock %}
